.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  padding: 25px 192px;
  gap: 25px;
  background: var(--header-background);
}
.container {
  display: flex;
  justify-content: space-between;
}
/* cont */

/* section title */

.sectionTitle {
  display: flex;
  height: 100%;
}

.section {
  background: purple;
}
.infoText {
  padding-right: 12px;
}
p.infoText:nth-child(2) {
  text-align: end;
}
p.infoText:nth-child(3) {
  text-align: end;
}

.sectionInfo {
  display: flex;
  gap: 20px;
}
.title {
  font-weight: var(--header-font-weight);
  align-self: center;
  font-size: 24px;
  line-height: 32px;
}
.infoText {
  font-weight: var(--regular-font-weight);
  font-size: 1rem;
  line-height: 24px;
  margin-right: 14px;
  border-right: 1px solid #a78bfa;
}

.phone {
  font-weight: var(--header-font-weight);
  font-size: 36px;
  line-height: 40px;
  color: inherit;
  text-decoration: none;
}
.phoneDescription {
  font-weight: 300;
  font-size: 24px;
  line-height: 32px;
}

/* 
	nav
 */
.menuItem .menuLink {
  text-decoration: none;
}
.menuItem a:hover {
  color: #8b5cf6;
}
.menuActiveLink {
  color: #8b5cf6;
  border-bottom: 2px dotted;
}

.nav {
  display: flex;
  justify-content: space-between;
}
.menu {
  display: flex;
  gap: 24px;
  list-style-type: none;
}
/* navButton */

/* .navButton {
  background: var(--button-background);
  border-radius: 4px;
  padding: 10px 28px;
  border: none;
} */
 
/* 
.buttonText {
  font-weight: var(--middle-font-weight);
  font-size: 16px;
  line-height: 24px;
  color: #f9fafb;
  text-wrap: nowrap;
} */
